page-commentmodal {

    .ion-item-options {
        border-bottom: 1px solid #fff
    }

    .commentClass{
        width: 100%;
        margin-top: -15px;
        margin-bottom: -15px;
    }

    .deleteicon {
        background-image: url(../../assets/imgs/rubbish-bin-delete-button.png);
    }

    .scroll-content{
        padding-top: 30px!important;
    }
    .topSection{
        position: relative;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        span{
            display: inline-block;
            color: #000;
            position: absolute;
            left: 16px;
            top: 0;
            font-weight: 700;
            font-size: 18px;
        }
        h3{
            font-weight: 700;
            color: #000;
            margin: 0;
            font-size: 18px;
            margin-left: 95px;
        }
    }


    ul{
        padding: 0;
        margin: 0;
        list-style: none;
       
        overflow: auto;
        flex: 1;
        padding-left: 16px;
        padding-right: 16px;
        height: 80%;
        padding-bottom: 50px;
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            // border-bottom: 1px solid #eeedee;
            .imgDiv{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
            }

            .contentDiv{
                flex: 1;
                padding-left: 15px;
                overflow: hidden;
                background-color: #e2e2e2;
                border-radius: 13px;
                margin-left: 5px;
                padding-top: 2px;
                h4{
                    margin: 0;
                    font-size: 14px;
                    color: rgba(0,0,0,0.8);
                    margin-bottom: 7px;
                    text-align: left;
                }
                p{
                    margin: 0;
                    font-size: 12px;
                    color: rgba(0,0,0,0.4);
                    width: 90%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 6px;
                }
                span{
                    display: block;
                    font-size: 10px;
                    color: rgba(0,0,0,0.4);
                }

            }
           
        }
    }


    .searchBox{
        display: flex;
        height: 50px;
        margin-bottom: 30px;
        // border-radius: 6px; 
        background-color: rgba(0,0,0,0.05);  
        input{
            flex: 1;
            border-radius: 6px;
            border: 0;
            background-color: transparent;
            padding-left: 25px;
            font-size: 12px;
            font-family: 'Conv_Circular Std Book';
        }
        button{
            width: 65px;
            background-color: transparent;
            border: 0;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                background-image: url(../../assets/imgs/right-arrow-2.png);
            background-size: cover;
            background-position: center;
            right: 28px;
            top: 16px;
            width: 20px;
            height: 20px;

            }
        }
    }



    .buttomSection{
        position: relative;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        span{
            display: inline-block;
            color: #000;
            position: absolute;
            left: 16px;
            top: 0;
            font-weight: 700;
            font-size: 18px;
        }
        h3{
            font-weight: 700;
            color: #000;
            margin: 0;
            font-size: 18px;
        }
    }






    .topSection{
        display: flex;
        margin-bottom: 12px;
        .leftSection{
            display: flex;
            padding-right: 10px;
            overflow: hidden;
            .imgDiv{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
            }
            .contentDiv{
                flex: 1;
                padding-left: 15px;
                overflow: hidden;
                h4{
                    margin: 0;
                    font-size: 14px;
                    color: rgba(0,0,0,0.8);
                    margin-bottom: 7px;
                    text-align: left;
                }
                p{
                    margin: 0;
                    font-size: 12px;
                    color: rgba(0,0,0,0.4);
                    width: 90%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 6px;
                }
                span{
                    display: block;
                    font-size: 10px;
                    color: rgba(0,0,0,0.4);
                }
            }
        }

        
    }






    ion-content{
        background-color: transparent!important;
        padding-top: 30px!important;
        .scroll-content{
            display: flex;
        }
    }

    .bd-Wrapper{
        // border: 1px solid #f00;
        padding: 16px 0;
        background-color: #fff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        // overflow: auto;
        height: 100%;
        flex: 1;
        overflow: hidden;
        padding-bottom: 10px;
    }


    .no_comment{
        margin-left: 21%; 
        margin-top: 30%; 
        opacity: 0.5
    }

    .no_comment_text{
        text-align: center;
        font-size: larger;
        font-weight: bold;
        color: #676767;
    }
}
