<!--
  Generated template for the CategoryServiceListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <span class="left-arrow"></span>

    <ion-title>Service Accepted</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-color: #F4F4F4;">

  <div class="segment-tabs">
    <ion-segment [(ngModel)]="property_search" (ionChange)="onSegmentChanged(property_search)">
    <ion-segment-button value="mapView" class="icon1">
       Map View
    </ion-segment-button>
    <ion-segment-button value="listView"  class="icon3">
       List View
    </ion-segment-button>
    </ion-segment>
 </div>

 <div class="bdContent"  [ngSwitch]="property_search">
    <!-- <ion-list class="mapView" *ngSwitchCase="'mapView'">
       <img src="assets/images/map_pic.png" alt="">
       <button (click)=" acptefService()">Service Accepted</button>
    </ion-list> -->
    <ion-list #mapContainer class="mapView" *ngSwitchCase="'mapView'">
      <div  id="map"></div>
    </ion-list>

     <!-- <ion-list class="listView" *ngSwitchCase="'listView'">
       <ul class="service">
        <li *ngFor="let appli of applicantList let i=index" >
          <div class="leftSection" (click)="goToDetails(search.details._id,search.details.latitude,search.details.longitude)">

            <div class="imgDiv" (click)="otherProfile(appli.details.userid._id,appli.details.userid.fullName)" *ngIf="appli.details.userid.profilePicture == null" style="background-image:url('assets/images/search2.png')"></div>
            <div class="imgDiv" (click)="otherProfile(appli.details.userid._id,appli.details.userid.fullName)" *ngIf="appli.details.userid.profilePicture != null" [ngStyle]="{'background-image': 'url(' +appli.details.userid.profilePicture + ')','background-position': '50% 50%'}"></div>

            <div class="contentDiv">
              <h4>{{appli.details.userid.fullName}}</h4>
              <p>{{appli.details.userid.about}}</p>
              <div>${{serviceId.tip}}</div>
              <rating [(ngModel)]="appli.details.userid.rating.rate" max="5" readOnly="true"></rating>
            </div>

          </div>
          <div class="rightSection">
            <span></span>
            <p>{{appli.distance}}</p>
          </div>
        </li>
      </ul>
    </ion-list> -->


    <ion-list class="listView" *ngSwitchCase="'listView'">
      <ul class="serviceAvailable">
         <li *ngFor="let appli of provider let i=index" >
            <div class="liBd">
               <div class="lftImg" (click)="otherProfile(appli.details.userid._id,appli.details.userid.fullName)" *ngIf="appli.details.userid.profilePicture == null && appli.imagetype == 'base64'" style="background-image:url('assets/images/search2.png')"></div>
               <div class="lftImg" (click)="otherProfile(appli.details.userid._id,appli.details.userid.fullName)" *ngIf="appli.details.userid.profilePicture != null && appli.imagetype == 'file'" [ngStyle]="{'background-image': 'url(' +appli.details.userid.profilePicture + ')','background-position': '50% 50%'}"></div>
               <img class="lftImg" (click)="otherProfile(appli.details.userid._id,appli.details.userid.fullName)" *ngIf="appli.details.userid.profilePicture != null && appli.imagetype == 'base64'" src='data:image/jpeg;base64,{{appli.convertimage}}'> 



               <div class="innerContent">
                  <h5>{{appli.details.userid.fullName}}</h5>
                  <p>{{appli.details.userid.about}}</p>
                  <span>${{serviceId.tip}}</span>
                    
                    <div class="rating">
                      <rating [(ngModel)]="appli.details.userid.rating.rate" max="5" readOnly="true"></rating>
                      <span class="totalReview">
                        {{appli.details.userid.rating.total}} Reviews
                      </span>
                     </div>
                    <button class="conFirm" *ngIf="appli.details.status !='accepted'" (click)="confirjob(appli.details._id)">Confirm</button>
                    <button class="conFirm" *ngIf="appli.details.status =='accepted' && serviceId.status !='Completed' && serviceId.paymentSuccess !=true " (click)="makepayment(appli.details.cash,appli.details.paypal,appli.details.bank,appli.details.userid._id)">Make Payment</button>
               </div>
            </div>
            <div class="rgtSection">
              <span></span>
              <p>{{appli.distance}} Min Away</p>
            </div>
         </li>
         
         
      </ul>
   </ion-list>


 </div>
</ion-content> 
