page-friends {
    ion-content.content {
        background-color: #F4F4F4;
    }
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 6px;
        padding: 24px 10px 20px 24px;
        margin-bottom: 10px;
        .imgDiv{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .contentDiv{
            padding-left: 10px;
            position: relative;
            flex: 1;
            .toggleIcon{
                width: 20px;
                height: 20px;
                background-image: url(../../assets/imgs/toggle.png);
                background-position: center;
                background-size: cover;
                // display: block;
                display: none;
                position: absolute;
                right: 0;
                top: 0;
            }
            h2{
                font-size: 14px;
                color: #000000;
                font-family: 'Conv_Circular Std Medium';
                margin: 0;
                margin-bottom: 7px;
            }
            p{
                font-family: 'Conv_Circular Std Book';
                font-size: 12px;
                color: #161F3D;
                margin: 0;
                margin-bottom: 8px;
            }
        }
        .buttonSection{
            display: flex;
            button{
                width: 96px;
                background-color: #01135F;
                border-radius: 5px;
                font-size: 11px;
                font-family: 'Conv_Circular Std Medium';
                color: #fff;
                margin-right: 8px;
            }
            span{
                width: 30px;
                height: 30px;
                background-image: url(../../assets/imgs/msgIcon.png);
                background-size: cover;
                background-position: center;
                display: block;
            }
        }
    }
}

.header{
    .toolbar-background {
        // background: #01135F;
        background: rgba(1, 19, 95, 0.9);
    }
    .toolbar-title {
      //  text-align: left;
        color: #fff;
    }
    .bar-buttons[end]{
        button{
            font-size: 15px;
            color: #fff;
        }
    }
}

ion-header ion-icon::before {
    display: inherit;
}
.header-ios{
    .toolbar-ios ion-title{
        position: relative;
    }
    .toolbar-ios .back-button{
        color: #fff;
    }
}

.w-searbar-header{
    .toolbar-background {
        background: #fff;
    }
    .searchbar .searchbar-input {
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-left: 40px;
    }
    .searchbar-ios-cancel{
        margin-right: 0px !important;
        opacity: 1!important;
        padding-left: 10px !important;
    }
    .searchbar-md .searchbar-md-cancel{
        display: inline-flex !important;
        background-color: white !important;
        left: 0;
        font-size: 18px;
    }
    .searchbar-md .searchbar-search-icon{
        display: none;
    }
    .searchbar-ios .searchbar-input {
        background: transparent;
    }
}

.back-button.show-back-button {
    display: inline-block;
    color: white;
}


}
