page-userprofile {
    .top-section{
        // background-image: url(../../assets/imgs/Rectangle.png);
        // height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        text-align: center;
        position: relative;
        padding-bottom: 31px;
        div{
            z-index: 1;
            position: relative;
        }
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(1,19,95,0.9);
            left: 0;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
        .profileImg{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
            margin-bottom: 13px;
        }
        h2{
            font-size: 14px;
            color: #fff;
            margin: 0;
            margin-bottom: 5px;
        }
        p{
            font-size: 12px;
            color: rgba(255,255,255,0.4);
            margin: 0;
            margin-bottom: 5px;
        }
        h3{
            font-size: 12px;
            color: #fff;
            margin: 0;
            text-decoration: underline;
            margin-bottom: 8px;
        }
        .starImg{
            width: 72px;
            height: 12px;
            margin: 0 auto;
         
        }
        .buttonDiv{
            display: flex;
            justify-content: space-between;
            padding: 0 50px;
            padding-top: 12px;
            button{
                width: 97px;    
                height: 30px;
                color: #01135F;
                font-size: 10px;
                background-color: #fff;
                border-radius: 5px;
            }
        }

        // .dots{
        //     width: 18px;
        //     height: 24px;
        //     background-image: url(../../assets/imgs/3dots.png);
        //     // margin-left: 100px;
        // }
    }
    
    .topBtn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 20px;
        padding: 0 18px;
        position: absolute;
        button{
            display: block;
            width: 117px;
            height: 30px;
            // background-image: url(../../assets/imgs/btn.png);
            background-size: cover;
            background-position: center;
            background-color: transparent;
            padding: 0;
            border: 2px solid #fff;
            border-radius: 19px;
            color: #fff;
        }
        span{
            display: block;
            width: 20px;
            height: 20px;
              background-size: cover;
            background-position: center;
            color: white;
            font-weight:900;
            margin-bottom: 10px;
            background-image: url(../../assets/imgs/ellipsis-horizontal.svg);
    
        }
        // .dots{
        //     width: 18px;
        //     height: 24px;
        //     background-image: url(../../assets/imgs/3dots.png);
        //     // margin-left: 100px;
        // }
    }
    


    .grid {
        padding: 0;
        padding-bottom: 20px;
    }
    .galleryVideo{

        width: 48%;
        height: 125px;
        // margin: 3px;
        // display: inline-block;
        margin: 1%;
        -webkit-box-shadow: 0px 0px 5px 1px #d4af37;
        box-shadow: 0px 0px 5px 1px #d4af37;

        span{
            display: inline-block;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: left top;
            border-radius: 5px;
            position: relative;

            video{
                width: 100%;
                height: 127%;
            }
        }
    }
    .video-span{
        height: 250px;
        // float: right;
        overflow: hidden;
    }

    
    .bottomSection{
        text-align: center;
        position: relative;
        padding-top: 15px;
        span{
            display: inline-block;
            background-position: center;
            background-size: cover;
        }
        .chatIcon{
            width: 26px;
            height: 26px;
            background-image: url(../../assets/imgs/chatIcon.png);
            
        }
        .handIcon{
            width: 18px;
            height: 20px;
            background-image: url(../../assets/imgs/handImg.png);
            position: absolute;
            right: 17px;
            top: 17px;
        }
    }
    
    
    .bdSection{
        padding: 0;
        padding-top: 30px;
            h4{
                color: #161F3D;
                font-size: 14px;
                font-family: 'Conv_Circular Std Medium';
                margin: 0;
                margin-bottom: 4px;
            }
            p{
                margin: 0;
                font-size: 12px;
                color: #4A4A4A;
                margin-bottom: 35px;
            }
        
    }
    
    .imgDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 12px;
        position: relative;
        img{
            width: 48%;
            border-radius: 6px;
            margin-bottom: 10px;
        }
        .addAndScroll{
            position: absolute;
            right: 0;
            bottom: 15px;
            display: flex;
            flex-direction: column;
          
            button{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                padding: 0;
                margin: 5px 0;
                background-color: transparent;
                background-size: cover;
                background-position: center;
                -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.20);
            }
        }
    }
    
    
    .recomendedUl{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            display: flex;
            margin-bottom: 14px;
            .leftSecyion{
                display: flex;
                padding-right: 15px;
                .imgDiv{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                }
                .contentDiv{
                    flex: 1;
                    padding-left: 5px;
                    h4{
                        margin: 0;
                        font-size: 14px;
                        color: rgba(0,0,0,0.8);
                    }
                    p{
                        margin: 0;
                        font-size: 12px;
                        color: rgba(0,0,0,0.4);
                    }
                }
            }
            .rightSection{
                display: flex;
                align-items: center;
                span{
                    display: inline-block;
                    font-size: 10px;
                    color: rgba(0,0,0,0.8);
                    margin-right: 5px;
                }
                .ratingImg{
                    width: 20px;
                    height: 20px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .back-arrow {
        width: 24px;
        height: 17px;
        background-image: url(../assets/imgs/left-arrow.png);
        background-position: center;
        background-size: cover;
    }




    .addAndScroll{
        position: absolute;
        right: 0;
        bottom: 15px;
        display: flex;
        flex-direction: column;
      
        button{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            padding: 0;
            margin: 5px 0;
            background-color: transparent;
            background-size: cover;
            background-position: center;
            -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.20);
        }
    }


    .aboutMe {
        padding-left: 6px;
    }





    .recmendation{
        margin-top: 16px;
    }
    ion-list{
        ion-item{
            ion-label{
                white-space: inherit;
                h4{
                    margin: 0 !important;
                    font-size: 14px;
                    color: rgba(0,0,0,0.8);
                }
                p{
                    margin: 0 !important;
                    font-size: 12px;
                    color: rgba(0,0,0,0.4);
                }
            }
        }
        .item-md,
        .item-ios{
            padding-left: 0;
            ul.rating{
                padding: 0;
                margin: 0;
                &.rating li {
                  padding: 0 2px !important;
                  background: none;
                  color: #ffb400;
                  display: inline-block;
                  ion-icon {
                    font-size: 12px;
                  }
                }
            }
        }
        .item-md ion-avatar,
        .item-ios ion-avatar {
            min-width: 45px;
            min-height: 45px;
        }
        .item-md ion-avatar ion-img, 
        .item-md ion-avatar img,
        .item-ios ion-avatar ion-img, 
        .item-ios ion-avatar img  {
            width: 45px;
            height: 45px;
        }
        .item-md ion-avatar[item-start],
        .item-ios ion-avatar[item-start]{
            margin-right: 8px;
        }
        .item-md.item-block .item-inner {
            border-bottom: 0;
            padding-right: 0;
        }
        .item-md [item-end],
        .item-ios [item-end]{
            margin-right: 0;
        }
    }
}
