page-modal-pic {
  
    .closebtn {
        color: white;
        // background: transparent;
        background: black;
        font-weight: 600;
        font-size: 20px;
        display: inline-flex;
        position: absolute;
        right: 0px;
        top: 11px;
    }
    .largeimg {
        width: 100%;
    }
}
 

