page-groupchat {
    ion-content.content {
        background-color: #ffffff;
    }
    .incoming_msg {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 10px;
        .received_msg {
            background: #f6f6f6 none repeat scroll 0 0;
            @include border-radius(0 10px 10px 10px);
            box-shadow: 0 1px .5px rgba(0, 0, 0, .13);
            padding: 10px 15px;
            max-width: 80%;
            position: relative;
            &:before {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                border-top: 20px solid #f6f6f6;
                border-left: 14px solid transparent;
                left: -8px;
                top: 0;
                z-index: -1;
            }
            h4{
                margin: 0;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 2px;
                display: block;
            }
            p {
                font-size: 15px;
                color: #1e1e1e;
                margin: 0;
                display: inline-block;
                word-break: break-word;
                text-align: left;
            }
            span{
                color: #757575;
                display: inline-block;
                font-size: 12px;
                font-weight: 600;
                ion-icon {
                    &.color-seentwo{
                        padding-left: 19px;
                        font-size: 20px;
                    } 
                }
            }
        }
    }
    
    .outgoing_msg {
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        .sent_msg {
            background: #fec629  none repeat scroll 0 0;
            @include border-radius(10px 0 10px 10px);
            box-shadow: 0 1px .5px rgba(199, 154, 25, 1);
            padding: 10px 15px;
            max-width: 80%;
            text-align: right;
            position: relative;
            &:before {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                border-top: 20px solid #fec629;
                border-right: 14px solid transparent;
                right: -8px;
                top: 0;
                z-index: -1;
            }
            h4{
                margin: 0;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 2px;
                display: block;
            }
            p {
                font-size: 15px;
                color: #432900;
                margin: 0;
                font-weight: 500;
                display: inline-block;
                word-break: break-word;
                text-align: left;
            }
            span{
                color: rgba(0, 0, 0, 0.5);
                display: inline-block;
                font-size: 12px;
                font-weight: 600;
                ion-icon{
                    font-size: 16px;
                    &.color-seen{
                        color: #674f0b;
                    }
                    &.color-seentwo{
                        padding-left: 19px;
                        font-size: 20px;
                    } 
                }
            }
        }
    }

    .footer-md::before{
        display: none;
    }
    .header-ios .toolbar-background-ios{
        border-color: #ececec;
    }
    .footer-ios .toolbar-background-ios{
        border: 0;
    }
    .footer .toolbar-background{
        background-color: #ececec;
    }
    .chat-input-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        .chat-message-input{
            width: calc(100% - 52px);
            background-color: #fff;
            border-radius: 30px;
            min-height: 42px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid #ececec;
            box-shadow: 0 1px .5px rgba(0, 0, 0, .13);
            textarea{
                width: calc(100% - 42px);
                border: none;
                background: transparent;
                font-size: 15px;
                border: 0;
                overflow: hidden;
                resize: none;
                padding: 0 11px;
                &:focus {
                    outline: 0;
                }
                min-height:40px;
                overflow:scroll;
                resize:none;
                 position:relative; 
                  -moz-user-select: text !important; 
                  -webkit-user-select: text !important;
                  -ms-user-select: text !important; 
            }
        }
        .send-btn{
            width: 42px;
            height: 42px;
            background-color: #01135F;
            border-radius: 50%;
            color: #fff;
            font-size: 20px;
            text-align: center;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);;
        }
        .attachment-btn{
            width: 42px;
            height: 42px;
            background-color: #fff;
            border-radius: 50%;
            color: #767676;
            font-size: 20px;
            text-align: center;
        }

    }

    .header{
        .toolbar-background {
            background: #fff;
        }
        .toolbar-title {
            text-align: left;
            color: #767676;
        }
        .bar-buttons[end]{
            button{
                font-size: 15px;
                color: #767676;
            }
        }
    }
    .oto-chat-header-profile{
        display: flex;
        align-items: center;
        justify-content: center;
        .oto-chat-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .oto-chat-info{
            width: calc(100% - 42px);
            padding-left: 11px;
            h4{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 16px;
                font-weight: 600;
                color: #262626;
                margin: 0 0 2px 0;
            }
            p{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 14px;
                font-weight: 400;
                color: #767676;
                margin: 0;
            }
        }
    }  
    ion-header .back-button {
        font-size: 0;
        background: transparent !important;
        color: transparent !important;
    }
    .back-button-md {
        margin: 0 0px;
    }
    .replytext {
        background: #d6a212e6;
        padding: 2px;
        border-radius: 4px;
    }
    ion-footer {
        img {
            width: 40% !important;
        }
    }
}
